.key {
  width: 5.5%;
  aspect-ratio: 1 / 1;
  padding: 0;
  flex-shrink: 0;
  background-color: initial;
  user-select: none;
}

[data-details="Backspace"],
[data-details="Tab"],
[data-details="Enter"],
[data-details="ShiftLeft"],
[data-details="ShiftRight"],
[data-details="CapsLock"],
[data-details="Space"],
[data-details="NumpadDecimal"],
[data-details="ControlLeft"],
[data-details="MetaLeft"],
[data-details="AltLeft"],
[data-details="AltRight"],
[data-details="ArrowLeft"],
[data-details="ArrowDown"],
[data-details="ArrowUp"],
[data-details="ArrowRight"],
[data-details="ControlRight"] {
  background-color: lightgray;
}

[data-details="Backspace"],
[data-details="Tab"],
[data-details="Enter"],
[data-details="ShiftLeft"],
[data-details="ShiftRight"],
[data-details="CapsLock"],
[data-details="Space"],
[data-details="NumpadDecimal"] {
  flex-grow: 1;
  aspect-ratio: auto;
}

[data-details="Enter"],
[data-details="ShiftRight"] {
  width: calc(5.5% * 2 + 1%);
  flex-grow: 0;
  aspect-ratio: auto;
}

[data-details="Space"] {
  width: calc(5.5% * 2 + 1%);
  aspect-ratio: auto;
}
