@property --gradient-color-1 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@property --gradient-color-2 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

.virtual-keyboard__key-shadow-wrapper {
  position: relative;
  width: 5.5%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  user-select: none;
  filter: drop-shadow(0px 0px 6px rgba(135, 44, 44, 0.5));
  transition: filter 0.2s linear;

  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(18, 161, 161, 0.5));
  }
}

.key {
  position: relative;
  z-index: 2;
  padding: 0;
  background-color: rgba(60, 6, 6, 1);
  border: none;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  color: #75F0F0;
  background-image: linear-gradient(135deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 87.21%);
  background-repeat: no-repeat;
  background-size: contain;
  transition-property: --gradient-color-1, --gradient-color-2, border-color, background-color, text-shadow, background-image;
  transition-duration: 0.4s;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);

  &:hover {
    --gradient-color-1: rgba(117, 240, 240, 0.3);
    --gradient-color-2: rgba(117, 240, 240, 0);
    border-color: #75F0F0;
    text-shadow: 0px 0px 5px #75F0F0;
  }

  &::after {
    box-sizing: border-box;
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 10px;
    // border-image: url("/assets/images/key-border.svg") 10 stretch;
    border-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39 1H1V39H29.5858L39 29.5858V1ZM40 30L30 40H0V0H40V30Z' fill='%23A32929' fill-opacity='0.75'/%3E%3C/svg%3E") 10 stretch;
    width: 100%;
    height: 100%;  
  }

  &:hover::after {
    border-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39 1H1V39H29.5858L39 29.5858V1ZM40 30L30 40H0V0H40V30Z' fill='%2375F0F0' fill-opacity='0.75'/%3E%3C/svg%3E") 10 stretch;
  }
}

div[data-details="Backspace"],
div[data-details="Tab"],
div[data-details="Enter"],
div[data-details="ShiftLeft"],
div[data-details="ShiftRight"],
div[data-details="CapsLock"],
div[data-details="Space"],
div[data-details="Delete"] {
  flex-grow: 1;
  aspect-ratio: auto;
}

div[data-details="Enter"],
div[data-details="ShiftRight"] {
  width: calc(5.5% * 2 + 1%);
  flex-grow: 0;
  aspect-ratio: auto;
}

div[data-details="Space"] {
  width: calc(5.5% * 2 + 1%);
  aspect-ratio: auto;
}
