.notification {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    inset: -2px;
    bottom: -30px;
    z-index: 1;
    background-image: url("/assets/images/keyboard-pattern.png");
    opacity: 0.7;
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  &__item {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: "Supermolot";
    color: #FF4C4E;
    filter: drop-shadow(0px 0px 6px rgba(135, 44, 44, 0.5));
    animation: extend-notification 0.3s ease-out both 200ms;

    &::before {
      position: absolute;
      content: "";
      top: -1px;
      left: 0;
      right: 0;
      width: 100%;
      margin: auto;
      background-color: rgba(163, 41, 41, 0.75);
      height: 1px;
    }
  }

  &__mark {
    color: #75F0F0;
    text-transform: uppercase;
  }

  &__icon-container {
    position: relative;
    padding-top: 23px;
    display: flex;
    flex-shrink: 0;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    animation: icon-height-control 110ms linear 500ms both, icon-shift-control 300ms linear 200ms both;

    svg {
      pointer-events: none;
      flex-shrink: 0;
      width: 850px;
      height: 850px;
      animation: svg-scale 200ms ease-out both;
      filter: drop-shadow(0px 0px 6px rgba(135, 44, 44, 1));
    }
  }

  &__icon {
    flex-shrink: 0;
    position: absolute;
    width: 300px;
    height: 300px;
  }

  &__text-container {
    position: relative;
    padding: 0px;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    animation: text-container-overflow 0.6s ease-out both 200ms;

    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      inset: 0;
      background-color: rgba(35, 15, 6, 0.75);
      clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);  
      border-style: solid;
      border-width: 10px;
      border-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39 1H1V39H29.5858L39 29.5858V1ZM40 30L30 40H0V0H40V30Z' fill='%23A32929' fill-opacity='0.75'/%3E%3C/svg%3E") 10 stretch;
    }
  }

  &__text {
    margin: 22px 0;
    animation: text-fade-in 0.3s ease-out calc(0.3s + 200ms) both;
  }

  &__control-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    padding: 2px 40px 2px 25px;
    background-color: #7F2020;
    color: #7F2020;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0% 100%);
    animation: fade-in 0.3s ease-out calc(0.6s + 200ms) both;
  }

  &__progress-bar {
    margin: 3px;
    flex-shrink: 0;
    padding: 1px;
    width: 20px;
    background-color: #7F2020;
  }

  &__progress-bar-value {
    height: 50%;
    background-color: rgba(35, 15, 6, 0.75);
    animation: progress calc(15s - 600ms) linear 600ms both;
  }

  &__skip-button {
    margin: 0;
    padding: 1px 5px 0px;
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    color: black;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;

    &:hover {
      border: 2px solid black;
    }

    &:active {
      border: 2px solid transparent;
      background-color: black;
      color: inherit;
    }
  }
}

@keyframes extend-notification {
  from {
    gap: 0px;
    width: 0px;
  }

  to {
    gap: 25px;
    width: 100%;
  }
}

@keyframes text-container-overflow {
  from {
    overflow: hidden;
  }

  99.99% {
    overflow: hidden;
  }

  to {
    overflow: visible;
  }
}

@keyframes text-fade-in {

  from {
    white-space: nowrap;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  99.99% {
    white-space: normal;
  }

  to {
    white-space: normal;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes icon-shift-control {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes icon-height-control {
  from {
    padding-top: 0px;
  }

  to {
    padding-top: 23px;
  }
}

@keyframes svg-scale {

  to {
    width: 300px;
    height: 300px;
  }
}

@keyframes progress {
  from {
    height: 100%;
  }

  to {
    height: 0%;
  }

}