* {
  box-sizing: border-box;
}

html {
  height: calc(100vh + 300px);
  overflow-y: scroll;
  min-width: 320px;
}

body {
  height: 100%;
  margin: 0 auto;
  max-width: 865px;
  background-image:  url("/assets/images/background-pattern.png"), linear-gradient(rgba(60, 6, 6, 0.5) 0%, rgba(60, 6, 6, 0) 40%);
  background-repeat: repeat, no-repeat;
  background-position: left top, bottom;
  background-blend-mode: color-dodge;
}