@font-face {
  font-family: "Supermolot";
  src: url("/assets/fonts/TTSupermolotNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 865px;
  background-image: url("/assets/images/background-pattern.png");
}

@keyframes press-key {
  from {
    background: #12A1A1;
    border-color: #75F0F0;
    box-shadow: 0px 0px 8px #12A1A1;
    text-shadow: none;
    color: black;
  }
}
@property --gradient-color-1 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}
@property --gradient-color-2 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}
.virtual-keyboard__key-shadow-wrapper {
  position: relative;
  width: 5.5%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  user-select: none;
  filter: drop-shadow(0px 0px 6px rgba(135, 44, 44, 0.5));
  transition: filter 0.2s linear;
}
.virtual-keyboard__key-shadow-wrapper:hover {
  filter: drop-shadow(2px 2px 4px rgba(18, 161, 161, 0.5));
}

.key {
  padding: 0;
  background-color: rgb(60, 6, 6);
  border: none;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  color: #75F0F0;
  background-image: linear-gradient(135deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 87.21%);
  background-repeat: no-repeat;
  background-size: contain;
  transition-property: --gradient-color-1, --gradient-color-2, border-color, background-color, text-shadow, background-image;
  transition-duration: 0.4s;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
}
.key:hover {
  --gradient-color-1: rgba(117, 240, 240, 0.3);
  --gradient-color-2: rgba(117, 240, 240, 0);
  border-color: #75F0F0;
  text-shadow: 0px 0px 5px #75F0F0;
}
.key::after {
  box-sizing: border-box;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 10px;
  border-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39 1H1V39H29.5858L39 29.5858V1ZM40 30L30 40H0V0H40V30Z' fill='%23A32929' fill-opacity='0.75'/%3E%3C/svg%3E") 10 stretch;
  width: 100%;
  height: 100%;
}
.key:hover::after {
  border-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39 1H1V39H29.5858L39 29.5858V1ZM40 30L30 40H0V0H40V30Z' fill='%2375F0F0' fill-opacity='0.75'/%3E%3C/svg%3E") 10 stretch;
}

div[data-details=Backspace],
div[data-details=Tab],
div[data-details=Enter],
div[data-details=ShiftLeft],
div[data-details=ShiftRight],
div[data-details=CapsLock],
div[data-details=Space],
div[data-details=Delete] {
  flex-grow: 1;
  aspect-ratio: auto;
}

div[data-details=Enter],
div[data-details=ShiftRight] {
  width: 12%;
  flex-grow: 0;
  aspect-ratio: auto;
}

div[data-details=Space] {
  width: 12%;
  aspect-ratio: auto;
}

.virtual-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: "Supermolot";
  font-size: 18px;
  margin: 10px 15px;
}
.virtual-keyboard__message {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.virtual-keyboard__input-field {
  position: relative;
  width: 100%;
  background: rgba(6, 19, 19, 0.8);
  border: 2px solid #12A1A1;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.1em;
  color: #75F0F0;
}
.virtual-keyboard__input-field::selection {
  background-color: #75F0F0;
  color: black;
}
.virtual-keyboard__input-field:focus {
  outline: none;
}
.virtual-keyboard__input-field-label {
  position: relative;
  margin: 0;
  padding: 0 10px;
  width: max-content;
  font-family: inherit;
  font-size: inherit;
  background-color: #12A1A1;
  color: black;
}
.virtual-keyboard__input-field-label::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #12A1A1;
  transform: translateX(100%);
  bottom: 0;
  right: 0;
  background-color: transparent;
  border-bottom: 21px solid transparent;
  border-left: 21px solid #12A1A1;
}
.virtual-keyboard__note {
  margin: 0;
  color: white;
}
.virtual-keyboard__main-board {
  width: 100%;
}
.virtual-keyboard__keys-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  padding: 2%;
  background: rgba(35, 15, 6, 0.75);
  border: 2px solid rgba(163, 41, 41, 0.3);
}
.virtual-keyboard__keys-container:before {
  position: absolute;
  content: "";
  inset: -2px;
  z-index: 1;
  background-image: url("/assets/images/keyboard-pattern.png");
  opacity: 0.7;
  mix-blend-mode: overlay;
  pointer-events: none;
}
.virtual-keyboard__keys-line {
  display: flex;
  gap: 1%;
}
.virtual-keyboard__key--hold {
  transition: none;
  animation: none;
  border-color: #75F0F0;
  text-shadow: none;
  color: black;
}
.virtual-keyboard__key--hold:after {
  border-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39 1H1V39H29.5858L39 29.5858V1ZM40 30L30 40H0V0H40V30Z' fill='%2375F0F0' fill-opacity='0.75'/%3E%3C/svg%3E") 10 stretch;
}
.virtual-keyboard__key--hold:hover {
  text-shadow: none;
}
.virtual-keyboard__key--pressed::after {
  border-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39 1H1V39H29.5858L39 29.5858V1ZM40 30L30 40H0V0H40V30Z' fill='%2375F0F0' fill-opacity='0.75'/%3E%3C/svg%3E") 10 stretch;
}

button.virtual-keyboard__key--pressed {
  animation: press-key 0.3s linear both;
}
button.virtual-keyboard__key--hold {
  transition: none;
  animation: none;
  background: #12A1A1;
  border-color: #75F0F0;
  box-shadow: 0px 0px 8px #12A1A1;
  text-shadow: none;
  color: black;
}
button.virtual-keyboard__key--hold:hover {
  text-shadow: none;
}

div.virtual-keyboard__key--pressed {
  filter: drop-shadow(2px 2px 4px rgba(18, 161, 161, 0.5));
}
div.virtual-keyboard__key--hold {
  filter: drop-shadow(2px 2px 4px rgba(18, 161, 161, 0.5));
}

/*# sourceMappingURL=style.css.map */
